<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theEngine</title>
    <link rel="stylesheet" href="{% static 'styles/complaint_form.css' %}">
</head>

<body>

    {% include 'base/navbar.html' %}

    <div class="background-image">
        <img src="{% static 'images/complaint_form.jpeg' %}" alt="Background Image">
    </div>
    <div class="heading">
        <h1
            style="font-size: larger; color: rgb(255, 255, 255); background-color: rgb(56, 56, 56); width: 130px; border-radius: 10px; margin-left: 500px; margin-bottom: 5px;">
            New Complaint</h1>
    </div>
    <div id="app">
        <form class="Form" method="POST">
            {% csrf_token %}
            <div class="small_box">
                <input type="text" name="cid" placeholder="Enter Cid" class="form-input">
                <select name="area" class="form-select">
                    <option value="Boys' Hostel">Boys' Hostel</option>
                    <option value="Girls' Hostel">Girls' Hostel</option>
                    <option value="Faculty Residence (T1/T2)">Faculty Residence (T1/T2)</option>
                    <option value="Admin Building">Admin Building</option>
                    <option value="Academic Building">Academic Building</option>
                    <option value="Security Barrack">Security Barrack</option>
                </select>
            </div>
            <select name="complaintType" onchange="handleComplaintTypeChange(event)" class="form-select">
                <option style="color: rgb(52, 52, 52);" value="Electrical">Electrical</option>
                <option style="color: rgb(52, 52, 52);" value="Mess">Mess</option>
                <option style="color: rgb(52, 52, 52);" value="Plumbing">Plumbing</option>
                <option style="color: rgb(52, 52, 52);" value="Civil">Civil</option>
                <option style="color: rgb(52, 52, 52);" value="Others">Others</option>
            </select>
            <div id="additionalOptionsDiv" class="option-container" style="color: rgb(52, 52, 52);"></div>
            <input type="text" name="subject" placeholder="Enter Subject" class="form-input">
            <input type="text" name="description" placeholder="Enter a brief description" class="form-input">
            <h3 style="color: rgb(51, 51, 51); padding-left: 2px;">Photo</h3>
            {{form.photo}}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="submit" class="btn">
        </form>
    </div>

    <script>
        function handleComplaintTypeChange(event) {
            const selectedValue = event.target.value;
            const complaintOptions = {
                'Electrical': {
                    'Cabin fan': "{% static 'images/cabinFan.jpg' %}",
                    'Ceiling Fan': "{% static 'images/ceilingFan.jpg' %}",
                    'Stand fan': "{% static 'images/standFan.jpg' %}",
                    'LIGHT': "",
                    'Fan Regulator': "",
                    'Exhaust Fan (Round)': "{% static 'images/exhaustFan.jpg' %}",
                    'Echaust Fan': "{% static 'images/exhaustFan1.jpg' %}",
                },
                'Plumbing': {
                    'Toilet faucet/JetSpray': '', // Add image path
                    'Toilet cistern / flushing': "{% static 'images/cistern.jpg' %}",
                    // Add other options and their image paths
                },
                'Civil': {
                    'Wall/Floor etc.': '', // Add image path
                    // Add other options and their image paths
                },
                'Mess': {
                    'Food': '', // Add image path
                    // Add other options and their image paths
                },
                'Others': {
                    'Air Conditioner': '', // Add image path
                    // Add other options and their image paths
                }
            };

            const additionalOptionsDiv = document.getElementById('additionalOptionsDiv');
            additionalOptionsDiv.innerHTML = '';

            if (selectedValue in complaintOptions) {
                const selectedOptions = complaintOptions[selectedValue];
                Object.keys(selectedOptions).forEach(option => {
                    const optionDiv = document.createElement('div');
                    const optionInput = document.createElement('input');
                    optionInput.type = 'radio';
                    optionInput.name = 'additionalOption';
                    optionInput.value = option;
                    optionDiv.appendChild(optionInput);

                    const optionLabel = document.createElement('label');
                    optionLabel.textContent = option;
                    optionDiv.appendChild(optionLabel);

                    if (selectedOptions[option]) {
                        const optionImage = document.createElement('img');
                        optionImage.src = selectedOptions[option];
                        optionImage.alt = option;
                        optionDiv.appendChild(optionImage);
                    }

                    additionalOptionsDiv.appendChild(optionDiv);
                });
            }
        }

        function handleButtonClick() {
            const inputPhotoLink = document.querySelector('input[name="photo-link"]').value;
            console.log(inputPhotoLink);
        }

        function handleInputChange(event) {
            const inputPhotoLink = event.target.value;
            console.log(inputPhotoLink);
        }
    </script>
</body>

</html>