<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>Sample Table</title>
    <link rel="stylesheet" href="{% static 'styles/data_page.css' %}">
</head>

<body>
    <div>
        {% include 'base/navbar.html' %}

        <button>Student</button>
        <button>Faculty</button>
        <button>Worker</button>
        <button>Admin</button>

        <div>
            <table border="1" class="Student">
                <caption>Student</caption>
                <thead>
                    <tr>
                        <th>stuId</th>
                        <th>stuName</th>
                        <th>emailId</th>
                        <th>stuDepartment</th>
                        <th>roomNo</th>
                        <th>stuPass</th>
                        <th>{stuMoblieNo}</th>
                        <th>stuGender</th>
                        <th>stuBatch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1, Cell 1</td>
                        <td>Row 1, Cell 2</td>
                        <td>Row 1, Cell 3</td>
                        <td>Row 1, Cell 4</td>
                        <td>Row 1, Cell 5</td>
                        <td>Row 1, Cell 6</td>
                        <td>Row 1, Cell 7</td>
                        <td>Row 1, Cell 8</td>
                        <td>Row 1, Cell 9</td>
                    </tr>
                    <tr>
                        <td>Row 2, Cell 1</td>
                        <td>Row 2, Cell 2</td>
                        <td>Row 2, Cell 3</td>
                        <td>Row 2, Cell 4</td>
                        <td>Row 2, Cell 5</td>
                        <td>Row 2, Cell 6</td>
                        <td>Row 2, Cell 7</td>
                        <td>Row 2, Cell 8</td>
                        <td>Row 2, Cell 9</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table border="1" class="Faculty">
                <caption>Faculty</caption>
                <thead>
                    <tr>
                        <th>tfacId</th>
                        <th>facName</th>
                        <th>{facMobileNo}</th>
                        <th>facEmail</th>
                        <th>facDesig</th>
                        <th>facPass</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1, Cell 1</td>
                        <td>Row 1, Cell 2</td>
                        <td>Row 1, Cell 3</td>
                        <td>Row 1, Cell 4</td>
                        <td>Row 1, Cell 5</td>
                        <td>Row 1, Cell 6</td>
                    </tr>
                    <tr>
                        <td>Row 2, Cell 1</td>
                        <td>Row 2, Cell 2</td>
                        <td>Row 2, Cell 3</td>
                        <td>Row 2, Cell 4</td>
                        <td>Row 2, Cell 5</td>
                        <td>Row 2, Cell 6</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div>
            <table border="1" class="Admin">
                <caption>Admin</caption>
                <thead>
                    <tr>
                        <th>adUserName</th>
                        <th>adPass</th>
                        <th>adName</th>
                        <th>{adMobileNo}</th>
                        <th>adEmail</th>
                        <th>adLocation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1, Cell 1</td>
                        <td>Row 1, Cell 2</td>
                        <td>Row 1, Cell 3</td>
                        <td>Row 1, Cell 4</td>
                        <td>Row 1, Cell 5</td>
                        <td>Row 1, Cell 6</td>
                    </tr>
                    <tr>
                        <td>Row 2, Cell 1</td>
                        <td>Row 2, Cell 2</td>
                        <td>Row 2, Cell 3</td>
                        <td>Row 2, Cell 4</td>
                        <td>Row 2, Cell 5</td>
                        <td>Row 2, Cell 6</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table border="1" class="workerDep">
                <caption>Worker Department</caption>
                <thead>
                    <tr>
                        <th>dId</th>
                        <th>dName</th>
                        <th>dLocation</th>
                        <th>dEmail</th>
                        <th>dHead</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1, Cell 1</td>
                        <td>Row 1, Cell 2</td>
                        <td>Row 1, Cell 3</td>
                        <td>Row 1, Cell 4</td>
                        <td>Row 1, Cell 5</td>
                    </tr>
                    <tr>
                        <td>Row 2, Cell 1</td>
                        <td>Row 2, Cell 2</td>
                        <td>Row 2, Cell 3</td>
                        <td>Row 2, Cell 4</td>
                        <td>Row 2, Cell 5</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table border="1" class="Worker">
                <caption>Worker</caption>
                <thead>
                    <tr>
                        <th>workerId</th>
                        <th>workerName</th>
                        <th>dId</th>
                        <th>{workerMoblieNo}</th>
                        <th>workerDesig</th>
                        <th>workerPass</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1, Cell 1</td>
                        <td>Row 1, Cell 2</td>
                        <td>Row 1, Cell 3</td>
                        <td>Row 1, Cell 4</td>
                        <td>Row 1, Cell 5</td>
                        <td>Row 1, Cell 6</td>
                    </tr>
                    <tr>
                        <td>Row 2, Cell 1</td>
                        <td>Row 2, Cell 2</td>
                        <td>Row 2, Cell 3</td>
                        <td>Row 2, Cell 4</td>
                        <td>Row 2, Cell 5</td>
                        <td>Row 2, Cell 6</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table border="1" class="ongoingWorks">
                <caption>Ongoing Works</caption>
                <thead>
                    <tr>
                        <th>cId</th>
                        <th>{workerId}</th>
                        <th>{stuId}</th>
                        <th>{facId}</th>
                        <th>iniDate</th>
                        <th>expCompDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1, Cell 1</td>
                        <td>Row 1, Cell 2</td>
                        <td>Row 1, Cell 3</td>
                        <td>Row 1, Cell 4</td>
                        <td>Row 1, Cell 5</td>
                        <td>Row 1, Cell 6</td>
                    </tr>
                    <tr>
                        <td>Row 2, Cell 1</td>
                        <td>Row 2, Cell 2</td>
                        <td>Row 2, Cell 3</td>
                        <td>Row 2, Cell 4</td>
                        <td>Row 2, Cell 5</td>
                        <td>Row 2, Cell 6</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</body>

</html>