<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/edit_profile.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}
    <div class="edit-profile-box">
        <h2>EDIT YOUR PROFILE</h2>
        <label for="Name">Name:</label>
        <h5>Name</h5>
        <label for="Username">Username:</label>
        <input type="text" value="" />
        <label for="Email">Email</label>
        <h5>Email</h5>
        <label for="rollNo.">RollNO.</label>
        <h5>RollNo</h5>
        <label for="roomNo.">RoomNO.</label>
        <input type="number" name="roomNo." id="" />
        <button>Cancel</button>
        <button>Update</button>
    </div>


</body>

</html>
