<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theEngine</title>
    <link rel="stylesheet" href="{% static 'styles/home_page.css' %}">
</head>

<body>

    {% include 'base/navbar.html' %}

    <div class="container">
        <div id="side-panel" class="panel-container">
            <div class="panel-content">
                <h2>Browse Complaints by Types</h2>
                <div class="complaints">
                    <h3>Complaint Types</h3>
                    <ul id="complaints-list">
                        <!-- Complaint types will be added dynamically here -->
                    </ul>
                </div>
                <div class="statistics">
                    <h3>Statistics</h3>
                    <div class="statistic">
                        <h4>Total Workers:</h4>
                        <p id="total-workers"></p>
                    </div>
                    <div class="statistic">
                        <h4>Total Students:</h4>
                        <p id="total-students"></p>
                    </div>
                    <div class="statistic">
                        <h4>Total Faculties:</h4>
                        <p id="total-faculties"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <!-- Content in the main container -->
        </div>
        <div class="parent Joined-Threads">
            <h2>Joined Threads</h2>
            <div class="Thread">
                <h3>Complaint Creator</h3>
                <h4 id="thread-name">Fan Not working</h4>
                <p>Thread Start Date</p>
                <h6>Thread Type / Complaint Type</h6>
            </div>
        </div>
        <div class="parent recent-threads">
            <h2>Recent Threads</h2>
            <div class="Recent-Thread">
                <h2>Thread Name</h2>
                <p>Latest Comment</p>
                <p>Latest Comment date</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div>About Us</div>
        <div>Admin Contact</div>
    </footer>
    <script src="{% static 'js/home_page.js' %}"></script>
</body>

</html>