<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>theEngine</title>
    <link rel="stylesheet" href="{% static 'styles/home_page.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="newcomplain">
        <center>
            <a href="{% url 'complaint-form' %}" class="signup">New Complaint</a>
            <a href="{% url 'data-page' %}" class="signup">All User Data</a>
        </center>
    </div>

    <div class="container">
        <div id="side-panel" class="panel-container">
            <div class="panel-content">

                <h2>Browse Complaints</h2>
                <div class="complaints">
                    <h3>Complaint Types</h3>
                    {% for topic in topics %}
                    <a href="{% url 'home-page' %}?q={{topic.complaintType}}">{{topic.complaintType}}</a>
                    {% endfor %}
                </div>
                <div class="statistics">
                    <h3>Statistics</h3>
                    <div class="statistic">
                        <h4>Total Workers:</h4>
                        <p id="total-workers">{{wor_count}}</p>
                    </div>
                    <div class="statistic">
                        <h4>Total Students:</h4>
                        <p id="total-students">{{stu_count}}</p>
                    </div>
                    <div class="statistic">
                        <h4>Total Faculties:</h4>
                        <p id="total-faculties">{{fac_count}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <!-- Content in the main container -->
        </div>
        <div class="parent-Joined-Threads">
            <center>
                <h3>Joined Threads</h3>
            </center>
            {% for room in rooms %}
            <div class="Thread">
                <h2>{{room.host.name}}</h2><br>
                <center>
                    <h4 class="thread-name">{{room.subject}}</h4>
                </center>
                <br>
                <div class="startdate">{{room.created}}</div>
                <div class="threadtype">{{room.complaintType.complaintType}} / {{room.cid}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="parent-recent-threads">
            <h1>Recent Threads</h1>
            {% for message in room_messages %}
            <div class="recent-thread">
                <h2>{{message.user.name}}</h2>
                <h4>{{message}}</h4>
                <hr>
                <h4>{{message.created|timesince}}</h4>
                <label>{{message.room.complaintType.complaintType}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <div>About Us</div>
        <div>Admin Contact</div>
    </footer>
    <script src="{% static 'js/home_page.js' %}"></script>
    <script>
    </script>
</body>

</html>