<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>theEngine</title>
    <link rel="stylesheet" href="{% static 'styles/home_page.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="newcomplain">
        <center>
            <a href="{% url 'complaint-form' %}" class="signup">New Complaint</a>
            <a href="{% url 'data-page' %}" class="signup">All User Data</a>
        </center>
    </div>

    <div class="container">
        <div id="side-panel" class="panel-container">
            <div class="panel-content">

                <h2>Browse Complaints</h2>
                <div class="complaints">
                    <h3>Complaint Types</h3>
                    {% for topic in topics %}
                    <a href="{% url 'home-page' %}?q={{topic.complaintType}}">{{topic.complaintType}}</a>
                    {% endfor %}
                </div>
                <div class="statistics">
                    <h3>Statistics</h3>
                    <div class="statistic">
                        <h4>Total Workers:</h4>
                        <p id="total-workers">{{wor_count}}</p>
                    </div>
                    <div class="statistic">
                        <h4>Total Students:</h4>
                        <p id="total-students">{{stu_count}}</p>
                    </div>
                    <div class="statistic">
                        <h4>Total Faculties:</h4>
                        <p id="total-faculties">{{fac_count}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <!-- Content in the main container -->
        </div>
        <div class="parent-Joined-Threads">
            <center>
                <h3>Joined Threads</h3>
            </center>
            {% for room in rooms %}
            <div class="Thread">
                <a href="{% url 'profile-page' room.host.username%}"><h2>{{room.host.name}}</h2><br></a>
                <center>
                    <a href="{% url 'thread-page' room.cid%}"><h4 class="thread-name">{{room.subject}}</h4></a>
                </center>
                <br>
                <div class="startdate">{{room.created}}</div>
                <div class="threadtype">{{room.complaintType.complaintType}} / {{room.cid}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="parent-recent-threads">
            <h1>Recent Threads</h1>
            {% for message in room_messages %}
            <div class="recent-thread">

                <a href="{% url 'profile-page' message.user.username%}"> <h1>@{{message.user.name}}</h1></a>
                <a href="{% url 'thread-page' message.room.cid%}"><h6>{{message}}</h6></a>
                <hr style="border: 2px;">
                <div class = "recentdatetime">
                <h5>{{message.created|timesince}}</h5>
                </div><br>
                <center><label class="type">{{message.room.complaintType.complaintType}}</label></center>

                
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <div>About Us<p>We've pioneered a revolutionary complaint engine designed to streamline grievance resolution within any system. Our vision-driven team has crafted a solution that ensures complaints are swiftly addressed, alleviating concerns and fostering smoother operations. With our innovative approach, managing complaints becomes a worry of the past, empowering stakeholders to focus on progress and productivity.

        </p></div><br>
        <div>Admins
            <div>
                Jasswindar Singh Gill
            </div>
            <div>
                Kunsh Taneja
            </div>
            <div>
                Ankur Srivastava
            </div>
        </div>
    </footer>
    <script src="{% static 'js/home_page.js' %}"></script>
    <script>
    </script>
</body>

</html>