<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>theEngine</title>
    <link rel="stylesheet" href="{% static 'styles/profile_page.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="container">
        <div id="side-panel" class="panel-container">
            <div class="panel-content">

                <h2>Browse Complaints</h2>
                <div class="complaints">
                    <h3>Complaint Types</h3>
                    {% for topic in topics %}
                    <a href="{% url 'home-page' %}?q={{topic.complaintType}}">{{topic.complaintType}}</a>
                    {% endfor %}
                </div>
                <div class="statistics">
                    <h3>Statistics</h3>
                    <div class="statistic">
                        <h4>Total Workers:</h4>
                        <p id="total-workers">{{wor_count}}</p>
                    </div>
                    <div class="statistic">
                        <h4>Total Students:</h4>
                        <p id="total-students">{{stu_count}}</p>
                    </div>
                    <div class="statistic">
                        <h4>Total Faculties:</h4>
                        <p id="total-faculties">{{fac_count}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
        </div>
        <div class="user_information">
            <div class="user_information1">
                <center>
                    <h1>About User</h1>
                </center>
                <div> This is about user information and so on.My name is so and so i studied from so and so i have too
                    many complaints in my hostel this that here there everything is a problem!! </div>
                <center>
                    <div class="recent_activities">Recent activities</div>
                </center>
                <br>

            </div>


            <div class="boxes">
                <center>
                    <h3>Joined Threads</h3>
                </center>
                {% for room in rooms %}
                <div class="Thread">
                    <a style="text-decoration: none;" href="{% url 'profile-page' room.host.username%}">
                        <h2>{{room.host.name}}</h2><br>
                    </a>
                    <center>
                        <a style="text-decoration: none;" href="{% url 'thread-page' room.cid%}">
                            <h4 class="thread-name">{{room.subject}}</h4>
                        </a>
                    </center>
                    <br>
                    <div class="startdate">{{room.created}}</div>
                    <div class="threadtype">{{room.complaintType.complaintType}} / {{room.cid}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="parent-recent-threads">
            <h1>Recent Threads</h1>
            {% for message in room_messages %}
            <div class="recent-thread">
                <h1>@{{message.user.name}}</h1>
                <h6>{{message}}</h6>
                <hr style="border: 2px;">
                <div class="recentdatetime">
                    <h5>{{message.created|timesince}}</h5>
                </div><br>
                <center><label class="type">{{message.room.complaintType.complaintType}}</label></center>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <div>About Us<p>We've pioneered a revolutionary complaint engine designed to streamline grievance resolution
                within any system. Our vision-driven team has crafted a solution that ensures complaints are swiftly
                addressed, alleviating concerns and fostering smoother operations. With our innovative approach,
                managing complaints becomes a worry of the past, empowering stakeholders to focus on progress and
                productivity.

            </p>
        </div><br>
        <div>Admins
            <div>
                Jasswindar Singh Gill
            </div>
            <div>
                Kunsh Taneja
            </div>
            <div>
                Ankur Srivastava
            </div>
        </div>
    </footer>
    <script src="{% static 'js/home_page.js' %}"></script>
</body>

</html>