<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>theEngine</title>
    <link rel="stylesheet" href="{% static 'styles/thread_page.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <!-- <div class="pinned-comment">
        <div class="reply-circles">
            <div class="reply-circle active"></div>
            <div class="reply-circle"></div>
            <div class="reply-circle"></div>
        </div>
        <button>prev</button>
        <div class="reply">
            <h5>replier name</h5>
            <p>sent time</p>
            <p>Reply</p>
        </div>
        <button>next</button>
        <button>Unpin Comment</button>

    </div> -->

    <main>
        <section class="announcements">
            <h2>{{room.subject}}</h2>
            <div class="announcement-details">
                <h3>{{room.description}}</h3>
                <div class="announcement-meta">
                    <p>{{room.created|timesince}}</p>
                    <p>HOSTED BY <a href="{% url 'profile-page' room.host.username %}" style="text-decoration: none;">@{{room.host.username}}</a></p>
                </div>
                <div class="chat-messages">
                    {% for message in room_messages %}
                    <div class="chat-message">
                        <div class="chat-avatar">
                            <img src="{{message.user.avatar}}" onerror="loadAlternateImage(this)" alt="Main Image">
                        </div>
                        <div class="chat-content">
                            <div class="chat-header">
                                <h4>{{message.user.username}}</h4>
                                <p>{{message.created|timesince}}</p>
                            </div>
                            <p>{{message.body}}</p>
                            <!-- <div class="chat-actions">
                                <button class="pin-btn">Pin</button>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <form action="" method="POST">
                    {% csrf_token %}
                <div class="reply-box">
                    <input type="text" name="body" placeholder="Reply to the announcement">
                    <input type="submit" value="SEND" class="send-btn">
                </div>
                </form>

            </div>
        </section>

        <section class="participants">
            <h2>PARTICIPANTS ({{participants.count}} Joined)</h2>
            <div class="participant-list">
                {% for participant in participants %}
                <div class="participant">
                    <div class="chat-avatar">
                        <img src="{{participant.avatar}}" onerror="loadAlternateImage(this)" alt="Profile Picture">
                    </div>
                    <h4>{{participant.username}}</h4>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
<script>
    function loadAlternateImage(img) {
        img.src = "{% static 'images/avatar.svg' %}";

        img.removeAttribute('onerror');
    }
</script>

</html>