/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.icons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.icons:hover {
    opacity: 0.7;
}

.edit-profile-box {
    background-color: #fff;
    padding: 20px;
    padding-right: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 500px;
    width: 100%; /* Set width to 100% */
    margin: 20px auto; /* Center horizontally */
    box-shadow: 0px 0px 0px rgb(25, 25, 25), -10px -10px 20px rgb(125, 146, 216);
}

.edit-profile-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.edit-profile-box label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.edit-profile-box input[type="text"],
.edit-profile-box input[type="number"],
.edit-profile-box h5 {
    width: calc(100% - 50px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-profile-box input[type="text"],
.edit-profile-box input[type="number"]{
    padding-left: 5px;
    margin-left: 0px;
    text-align: left;
}

.edit-profile-box button {
    width: 100px; 
    margin-top: 10px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    align-self: center;
    margin-left: 75px;
}

.subut {
    width: 100px; 
    margin-top: 10px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    align-self: center;
    margin-left: 75px;
}

.subut:hover {
    background-color: #555;
}


.edit-profile-box button:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    .edit-profile-box {
        width: 90%;
    }
}
