.background-template {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-container {
  display: flex;
}

.photo-section {
  flex: 1;
  animation: fadeIn 1s ease-in-out;
}

.background-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
  
}

.fac-login {
  background-color: rgb(203, 203, 203);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px;
  box-shadow: 0px 0px 0px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.user-type-dropdown {
  margin-bottom: 10px;
}

.user-type-dropdown select {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(213, 244, 247);
}


.fac-login h1 {
  color: black;
  margin-bottom: 20px;
}

.inputs {
  margin-bottom: 20px;
}

.inputs label {
  display: block;
  margin-bottom: 5px;
}

.inputs input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* transition: border-color 0.3s ease; */
  background-color: rgb(241, 241, 241);
}

.signup {
  width: 100px;
  padding: 10px 10px;
  background-color: rgb(213, 244, 247);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
}

.signup-1{
  width: 100px;
  padding: 10px 10px;
  background-color: rgb(65, 111, 121);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Tahoma, sans-serif;
  font-size: medium;
  border-radius: 10px;
  color: azure;
}