.background-image {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     z-index: -1;
     background-size: cover;
     background-position: center;
}

.background-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.heading {
     text-align: center;
     justify-content: center;
     align-items: center;
     width: 640px;
     margin-left: 428.4px;
}

.Form {
     max-width: 600px;
     margin: 0 auto;
     padding: 20px;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Form input,
.Form select {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     color: #4e4e4e;
     border-radius: 5px;
     box-sizing: border-box;
}

.Form p {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     margin-right: 5px;
     border: 1px solid #ccc;
     color: #4e4e4e;
     background-color: white;
     border-radius: 5px;
     box-sizing: border-box;
     height: 56px;
     text-align: center;
}

.Form button {
     width: 100%;
     padding: 10px;
     background-color: #007bff;
     color: #ffb9b9;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}

.Form button:hover {
     background-color: #0056b3;
}

.Form label {
     display: flex;
     margin-bottom: 5px;
     justify-content: center;
     align-items: center;
}

.Form div {
     margin-bottom: 15px;
}

.Form div:last-child {
     margin-bottom: 0;
}

.option-container {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.option-container input[type="radio"] {
     display: inline;
     max-width: 10px;
     padding: 5px;
     margin: 10px;
}

.option-container label {
     display: block;
     align-items: center;
     margin-bottom: 0;
     margin-left: 10px;
     width: 250px;
}

.option-container img {
     width: 100px;
     height: 100px;
     margin-left: 20px;
}

.Form input[type="text"],
.Form input[type="number"],
.Form select,
p {
     display: flex;
}

.Form input {
     width: 100%;
}

.Form input[type="text"]::placeholder,
.Form input[type="number"]::placeholder {
     color: #6d6d6d;
}

.Form input[type="text"]:focus,
.Form input[type="number"]:focus,
.Form select:focus {
     outline: none;
     border-color: #007bff;
     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.animated-element {
     transition: transform 0.3s ease;
}

.animated-element.selected {
     transform: scale(1.2);
}

.small_box {
     display: flex;
     justify-content: space-between;
}

.small_box input {
     margin-right: 15px;
}

.Form button[type="button"] {
     width: 100px;
     align-content: center;
     justify-content: center;
     text-align: center;
     display: flex;
     margin-left: 250px;
     margin-bottom: 10px;
     padding: 10px;
}

#breif-desc {
     height: 150px;
}

#lost-loc {
     height: 56px;
     margin-top: 16px;
}